@import "mixins";
@import "fonts";

body {
  @include font-main;
  overflow: hidden;
  font-size: 16px;
  color: $textColor;
  min-width: 340px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #FFF url('/img/photos/img1.jpg');
  background-position: center center;
  background-size: cover;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $hoverColor;
    text-decoration: underline;
  }
}

#modal-backdrop {
  position: fixed;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.7);
  width: 100vw;
  height: 100vh;
}

.content-demo, .controls {
  top: 5%;
  box-sizing: content-box;
  height: 90%;
  background: rgba(0, 0, 0, 0.7);
}

.content-demo {
  position: absolute;
  width: 46vw;
  left: 2vw;
}

.controls {
  position: absolute;
  right: 2vw;
  width: 46vw;

  .slider-control {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
