@import "mixins";
@import "fonts";

body {
  @include font-main;
  overflow: hidden;
  font-size: 16px;
  color: $textColor;
}

.wrapper {
  width: 100vw;
  min-width: 640px;
  height: 100vh;
  position: relative;
  background: #FFF url('/img/photos/img2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $hoverColor;
    text-decoration: underline;
  }
}

#modal-backdrop {
  position: fixed;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.7);
  width: 100vw;
  height: 100vh;
}

.content-demo, .controls {
  top: 5%;
  box-sizing: content-box;
  height: 90%;

  .glass-pane {
    width: 100%;
    height: 100%;
  }

  .rosette {
    @include absolute-center();
    width: 85%;
    height: 85%;
    z-index: 120;
  }
}

.content-demo {
  position: absolute;
  width: 47%;
  left: 2%;
  .glass-pane__content {
    width: 100%;
    height: 100%;
  }
}

.controls {
  position: absolute;
  right: 2%;
  width: 47%;

  @include font-main;
  color: #FFFFFF;
  font-size: 1em;
  line-height: 1.25;

  .glass-pane__content-holder {
    padding-right: 30px !important;

    p {
      margin-left: 10px;
      margin-top: 20px;
    }
  }

  .slider-control {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
