#moire-room {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  -webkit-backface-visibility: hidden;

  svg {
    width: 100%;
    overflow:hidden;
    height: 100%;
    margin: 0px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    shape-rendering: auto;
    left: 0;
    top: 0;

    &.bg {
      shape-rendering: optimizeSpeed;
      will-change: transform;
      z-index: 10;
    }
    &.fg {
      z-index: 11;
    }
  }
}