<!DOCTYPE html>
<html>
<head>
    <% include ./components/head.ejs %>
    <title>Octaharon production</title>
</head>
<body>
<svg id="filterFallbackLibrary" xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none">
    <defs>
        <filter id="global-filter-blur">
            <feGaussianBlur stdDeviation="8"></feGaussianBlur>
        </filter>
    </defs>
</svg>
<div id="app">

</div>
<script src="/app.js"></script>
</body>
</html>
