<!DOCTYPE html>
<html>
<head>
    <% include ./components/head.ejs %>
    <title>Octaharon production</title>
</head>
<body>
<% include ./components/global-filters.ejs %>
<div id="app">

</div>
<script src="/app/app.js"></script>
</body>
</html>
