.switch-selector {
  position: relative;
  overflow: hidden;
  padding: 0 30px;
  height: 30px;
  min-width: 200px;
  display: inline-block;

  .switch-selector__container {
    overflow: hidden;
    position: relative;
    width: 100%;

    .switch-selector__body {

      .switch-selector__body-item {

      }

    }
  }

  .switch-selector__left, .switch-selector__right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
  }

  .switch-selector__left {
    left: 0;
  }

  .switch-selector__right {
    right: 0;
  }

}